@use '../../abstract/colours';
.cta{
    width: 100%;
    height: 70rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta__img{
    width: 100%;
    height: 80rem;
    position: absolute;
    object-fit: cover;
}
.cta__textBlock{
    width: 50rem;
    height: 45rem;
    background: colours.$ctaTextBlock;
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.cta__h2{
    width: 45rem;
    height: 7rem;
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cta__h3{
    width: 45rem;
    height: 3rem;
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta__button{
    width: 15rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: colours.$ctaButton;
    font-size: 2rem;
    color: white;
}